main {
	max-width: 1440px;
	margin: 3rem auto 0 auto;
	display: flex;
	justify-content: space-around;
}

article {
	display: inline-block;
	width: 40%;
	margin: 2rem 0 0 10rem;
}

article h1 {
	font-size: 3.5rem;
	margin-bottom: 1.5rem;
}

h1 {
	padding: 30px 0 8px;
	position: relative;
}

h1::before {
	content: "";
	position: absolute;
	left: 17%;
	bottom: 16px;
	width: 200px;
	height: 14px;
	transform: skew(-12deg) translateX(-50%);
	background: #fb6220;
	z-index: -1;
	opacity: 0.7;
}

article p {
	line-height: var(--line-height);
	margin-bottom: 1rem;
}

figure {
	width: 40%;
}

figure img {
	width: 100%;
	height: auto;
}

.dragonballs-img {
	max-width: 30rem;
	margin-top: 5rem;
}
