main {
	max-width: 700px;
	margin: 0 auto;
	margin-top: 4rem;
	padding: 1rem;
}

main h1 {
	font-size: 3rem;
	line-height: 3.5rem;
	margin-bottom: 1.5rem;
	font-weight: 900;
}

main > p:nth-child(2) {
	font-size: 1.6rem;
	color: rgb(112, 112, 112);
	line-height: 2rem;
}

main figure img {
	width: 100%;
	height: auto;
	margin-top: 4rem;
}

main figure figcaption {
	font-size: 1rem;
	opacity: 0.5;
	margin-bottom: 4rem;
}

main article p {
	margin-bottom: 2rem;
	line-height: var(--line-height);
}
main aside section {
	position: relative;
	right: 30px;
	margin-top: 5rem;
}

main aside section a {
	opacity: 0.4;
}
main aside section a:hover {
	color: var(--text-primary-color);
	opacity: 0.9;
	text-decoration: underline;
}
main aside section img {
	position: relative;
	top: 24px;
	/* vertical-align: middle; */
}
.popular-articles {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 8rem;
	/* border-top: 2px solid rgb(223, 223, 223); */
}
.popular-articles h2 {
	font-size: 1.5rem;
	margin: 2rem 0;
}
.popular-articles ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.popular-articles ul li {
	max-width: 300px;
}

.popular-articles ul a:hover {
	text-decoration: underline;
}
