main {
	max-width: 700px;
	margin: 0 auto;
	margin-top: 4rem;
	padding: 1rem;
}

main h1 {
	font-size: 3rem;
	line-height: 3.5rem;
	margin-bottom: 0.5rem;
	font-weight: 900;
}

main > p:nth-child(2) {
	font-size: 1.6rem;
	color: rgb(112, 112, 112);
	line-height: 2rem;
}

main figure img {
	width: 100%;
	height: auto;
	margin-top: 2.5rem;
}

main figure figcaption {
	font-size: 1rem;
	opacity: 0.6;
	margin-bottom: 4rem;
}

main article p {
	margin-bottom: 2rem;
	line-height: var(--line-height);
}

main aside section {
	position: relative;
	right: 30px;
}

main aside section a {
	opacity: 0.4;
}

main aside section a:hover {
	color: var(--text-primary-color);
	opacity: 0.9;
	text-decoration: underline;
}

main aside section img {
	position: relative;
	top: 24px;
}

.popular-articles {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 8rem;
}

.popular-articles img {
	margin-top: 2rem;
}

.popular-articles h3 {
	font-size: 1.5rem;
}

.popular-articles ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.popular-articles ul li {
	max-width: 300px;
}

.popular-articles ul a:hover {
	text-decoration: underline;
}
