main {
	max-width: 700px;
	margin: 0 auto;
	margin-top: 4rem;
	padding: 1rem;
}

main h1 {
	font-size: 3rem;
	line-height: 3.5rem;
	margin-bottom: 1.5rem;
}

main > p:nth-child(2) {
	font-size: 2rem;
	color: rgb(112, 112, 112);
	line-height: 2rem;
}

main figure img {
	width: 100%;
	height: auto;
	margin-top: 4rem;
}

main figure figcaption {
	opacity: 0.5;
	margin-bottom: 4rem;
}

main article p {
	margin-bottom: 2rem;
	line-height: var(--line-height);
}
aside {
	max-width: 1000px;
	margin: 0 auto;
}
aside h2 {
	font-size: 1.5rem;
	margin: 2rem 0;
}
aside ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

aside ul li {
	max-width: 300px;
}

aside ul a:hover {
	text-decoration: underline;
}
