footer {
	background-color: #333333;
	color: #fff;
	font-size: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto 1fr 1fr;
	grid-template-areas:
		"logo logo logo logo"
		"contact-us nav-container nav-container nav-container"
		"social-media nav-container nav-container nav-container";
	padding: 7rem 3rem;
	margin-top: 15rem;
	padding-left: 10rem;
	gap: 1rem;
}

/* LOGO */
.logo-container {
	grid-area: logo;
	align-self: end;
	margin-bottom: 2rem;
}

/* Contact us section */
.contact-us-container {
	grid-area: contact-us;
	margin-left: 1rem;
	max-width: 16rem;
}

.contact-us-container h3 {
	font-size: 1.7rem;
	margin-bottom: 1.5rem;
}

.contact-us-container p:nth-child(2) span {
	margin-right: 4px;
}

.contact-us-container ul li {
	margin-bottom: 1rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.contact-us-container img {
	position: relative;
	top: 2px;
}

/* Social media section */
.social-media-container {
	grid-area: social-media;
	margin-left: 1rem;
}

.social-media-container h4 {
	font-size: 1.7rem;
	margin-bottom: 1.5rem;
}

.social-media-container a {
	padding-bottom: 0.2rem;
}

.social-media-container a:hover {
	border-bottom: 1px solid #fff;
	opacity: 0.7;
}

.social-media-container a + a {
	margin-left: 1rem;
}

/* NAV */
.nav-container {
	grid-area: nav-container;
	display: flex;
	flex-wrap: wrap;
	gap: 8rem;
}

.nav-container ul:nth-child(2) {
	max-width: 10rem;
}

.nav-container li,
.nav-container h4 {
	margin-bottom: 0.5rem;
}

.nav-container a {
	color: #fff;
}

.nav-container a:hover {
	text-decoration: underline;
	color: hsla();
}

li {
	list-style: none;
}

ul {
	display: inline-block;
}
