main {
	position: relative;
	margin: 6rem 0 0 2rem;
	z-index: 2;
	max-width: 40rem;
	background-color: #deedea79;
	border-radius: 10px;
	padding: 3rem;
}

main h1 {
	color: #2a2d2f;
	font-size: 3rem;
	margin-bottom: 0.35rem;
}

main p {
	color: #272727;
	line-height: var(--line-height);
	max-width: 30rem;
	margin-bottom: 1rem;
}

main section {
	display: flex;
	align-items: center;
}

main section aside a:first-child {
	background-color: var(--decorative-color);
	font-weight: bold;
	font-size: 1.1rem;
	color: #ffffff;
	stroke: 0;
	border-style: none;
	padding: 0.6em 2.5em 0.7em;
	border-radius: 10px;
}

main section aside a:first-child:hover {
	box-shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.15) inset;
}

main section aside a:hover {
	text-decoration: underline;
	opacity: 0.85;
}

main section aside a:last-child {
	display: block;
	font-size: 0.8rem;
	font-family: var(--decorative-font);
	font-weight: 800;
	margin-left: 3.5em;
	margin-top: 1.5rem;
	color: #232323;
	opacity: 0.7;
}

main section aside a:last-child:hover {
	opacity: 1;
}

main ul {
	margin-bottom: 3rem;
	margin-left: 8rem;
	margin-top: 4rem;
}

main ul li a {
	border-bottom: 1px solid transparent;
}

main ul li {
	display: inline-block;
}

main ul a:hover {
	filter: invert(0) sepia(1) saturate(1) hue-rotate(0deg) brightness(0.2);
	border-bottom: 1px solid black;
}

main ul li + li {
	margin-left: 1rem;
}

.showcase video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.6;
}
