.wrapper {
	padding: 0 5rem;
}
.container {
	display: flex;
	align-items: center;
	/* justify-content: space-around; */
}

/* MOVED TO SEPERATE NAV STYLESHEET */
/* header {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
}
header img {
	margin-left: 4rem;
}

header nav {
	font-size: 1rem;
	font-weight: bold;
	font-family: var(--decorative-font);
}

header li {
	margin-right: 4rem;
}

header li:last-child a {
	background-color: var(--decorative-color);
	color: #ffffff;
	padding: 0.65em 1.8em;
	border-radius: 10px;
	box-shadow: 0px 2px 2px 0px hsla(0, 0%, 0%, 0.05);
} */

main .left a button:hover {
	box-shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.15) inset;
}

main .left a:hover {
	text-decoration: underline;
	opacity: 0.85;
}

main {
	position: relative;
	margin: 6rem 0 0 2rem;
	z-index: 2;
	max-width: 40rem;
	background-color: #deedea79;
	border-radius: 10px;
	padding: 3rem 0 3.75rem 2em;
}
main h1 {
	color: #2a2d2f;
	font-size: 3rem;
	margin-bottom: 0.35rem;
}
main p {
	color: #272727;
	line-height: 1.5rem;
	max-width: 30rem;
}
main button {
	background-color: var(--decorative-color);
	font-family: var(--decorative-font);
	font-weight: bold;
	font-size: 1.1rem;
	color: #ffffff;
	stroke: 0;
	border-style: none;
	padding: 0.6em 2.5em;
	border-radius: 10px;
	margin-top: 4.125rem;
}
main button:hover {
	cursor: pointer;
}
main .left a:last-child {
	display: block;
	font-size: 0.8rem;
	font-family: var(--decorative-font);
	font-weight: 800;
	margin-left: 3.5em;
	margin-top: 0.5rem;
	color: #232323;
	opacity: 0.7;
}
main .right {
	margin-top: 4rem;
	margin-left: 8rem;
}

main .right a {
	border-bottom: 1px solid transparent;
}
main .right a:hover {
	display: inline-block;
	filter: invert(0) sepia(1) saturate(1) hue-rotate(0deg) brightness(0.2);
	border-bottom: 1px solid black;
	text-align: center;
}
main .right ul li + li {
	margin-left: 1rem;
}
.showcase video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.6;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: #1c2661; */
	/* mix-blend-mode: overlay; */
}

/* sign-up.html */
figure img {
	width: 100%;
	height: auto;
}
