main {
	margin: 0 auto;
}

main h1 {
	text-align: center;
	font-size: 4rem;
	margin-bottom: 1.5rem;
}

section {
	margin: 0 auto;
	max-width: 1440px;
}

input {
	display: block;
	background: url(../assets/politicians/search-icon.png);
	background-size: auto;
	padding-right: 30px;
	background-repeat: no-repeat;
	background-position: right;
	min-width: 400px;
	padding: 0.8em 1em;
	outline: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 2px solid black;
	border-radius: 5px;
	margin: 2rem auto;
	font-size: 1rem;
}

main ul {
	display: grid;
	grid-template-columns: auto auto;
	max-width: 900px;
	justify-content: space-evenly;
	margin: 0 auto;
	gap: 1rem;
}

main ul figure {
	position: relative;
	top: 3rem;
	display: inline-block;
}

main li {
	margin: 2rem 0;
}

li .information {
	position: relative;
	bottom: 20px;
	margin-bottom: 0px;
	display: inline-block;
	margin-left: 1rem;
}

main li h2 {
	font-size: 1.5rem;
	font-weight: 900;
}

main li p {
	max-width: 15rem;
	float: left;

	font-size: 1.2rem;
}

main a:hover {
	color: rgb(85, 85, 85);
	text-decoration: underline;
}
